html
{ 
  background: url(../images/background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


body
{
    font-family: calibri, 'sans-serif';
}

a:link      {text-decoration: none; color: #847f7c; }
a:visited   {text-decoration: none; color: #847f7c; }
a:hover     { opacity: 0.5; }
a:active    { opacity: 0.35; }


#navigation
{
    position: relative;
    top: 10px;
    margin: 0 auto;
    width: 95%;
    height: 80px;
}


    #title
    {
        position: relative;
        float: left;
        height: 100%;
        width: 30%;
        background-color: #847f7c;
        -moz-opacity: 0.6;  
        -khtml-opacity: 0.6;
        opacity: 0.6;
    }
    
    #title:hover    { opacity: 0.7; cursor: pointer; }
    #title:active   { opacity: 0.6; }
    
    
        #heading
        {
            position: relative;
            font-size: 35px;
            color: #1E1A15;
            margin: 0 auto;
            left: 5px;
            top: 5px;
        }
    
    
        #sub-heading
        {
            position: relative;
            font-size: 22px;
            color: #1E1A15;
            margin: 0 autio;
            left: 8px;
        }
    
    
    
    
    
    
    #links
    {
        position: relative;
        float:right;
        height: 100%;
        width: 65%;
        background-color: #282524;
        -moz-opacity: 0.6;  
        -khtml-opacity: 0.6;
        opacity: 0.6;
        font-size: 30px;
    }
    
    table.links_table
    {
        width: 100%;
        text-align: center;
        border: none;
    }
    
    table.links_table td
    {
        padding: 21px;
    }
    




#content-container
{
    position: relative;
    width: 95%;
    height: 480px;
    top: 60px;
    margin: 0 auto;
}




#footer
{
    position: relative;
    font-size: 10px;
    text-align: center;
    top: 135px;
}