<title>Govinda Ram Pingali</title>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<meta name="description" content="Govinda Ram Pingali's online personal portfolio"/>
<meta name="author" content="Govinda Ram Pingali"/>
<meta name="keywords" content="Govinda, Ram, Pingali, Music, Technology"/>

<link rel="apple-touch-icon" sizes="180x180" href="images/favicons/apple-touch-icon.png">
<link rel="icon" type="image/png" href="images/favicons/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="images/favicons/favicon-16x16.png" sizes="16x16">
<link rel="manifest" href="images/favicons/manifest.json">
<link rel="mask-icon" href="images/favicons/safari-pinned-tab.svg" color="#5bbad5">
<meta name="theme-color" content="#232323">

<script type="text/javascript" src="js/index.js"></script>


<style>

	html, body {
        width: 100%;
        height: 100%;
        margin: 0px;
        border: 0;
        overflow: hidden;     /* Disable scrollbars */
        display: block;       /* No floating content on sides */
        font-family:skia;
    }

    #footer {
    	position: absolute;
    	width: 100%;
      	height: 3%;
      	bottom: 0;
      	text-align: center;
      	color: #676767;
      	font-size: 75%;
	}

    .canvases {
        position: absolute; 
        left: 0px; 
        top: 0px;
    }

    #helper {
        position: absolute; 
        width: 30%; 
        height: 40%; 
        left: 35%; 
        top: 29%;
        color: #ABABAB; 
        font-size: 80%;
        background-color: #121212;
        opacity: 0.85;
        padding: 0.5%;
    }

    #escape {
        position: absolute;
        width: 3%;
        height: 2%;
        top: 4px;
        left: 4px;
        text-align: left;
        color: #676767;
        font-size: 75%;
    }
    
</style>