<body onload="start();">

	<canvas id="backgroundCanvas" style="position:absolute; left:0px; top:0px; background-color:#232323;"></canvas>
	<div id="footer">Govinda Ram Pingali - 2016</div>
	<canvas id="cubeCanvas" style="position:absolute; left:0px; top:0px;"></canvas>
	<canvas id="circleCanvas" style="position:absolute; left:0px; top:0px;"></canvas>


	<noscript>
		<h2>This webpage delivers content through JavaScript, which is not enabled on your broswer.
		</br>Please check your browser settings and reload the page.</h1>
	</noscript>

</body>