<div class="container">

	<div class="header">

		<div class="row pad-20"></div>

		<!-- Navigation Bar -->
		<div class="row navigation-bar">
            
            <div class="col-md-3 titlebox"><a href="index.php">
                <div id="heading">Govinda Ram Pingali</div>
                <div id="sub-heading">music + technology</div>
          	</a></div>

            <div class="col-md-1"></div>

            <div class="col-md-8 menu">
                <div class="row menu">
                    <div class="col-md-3 link-box"><a href="../php/bio.php">bio</a></div>
                    <div class="col-md-3 link-box"><a href="../php/projects.php">projects</a></div>
                    <div class="col-md-3 link-box"><a href="../php/music.php">music</a></div>
                    <div class="col-md-3 link-box"><a href="../php/contact.php">contact</a></div>
                    <!-- <div class="col-md-3 link-box"><a href="#bio">bio</a></div> -->
                    <!-- <div class="col-md-3 link-box"><a href="#projects">projects</a></div> -->
                    <!-- <div class="col-md-3 link-box"><a href="#music">music</a></div> -->
                    <!-- <div class="col-md-3 link-box"><a href="#contact">contact</a></div> -->
                </div>
            </div>

        </div>

        <div class="row pad-20"></div>

    </div> <!-- Header -->

</div> <!-- Container -->
